In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

# Project 1:
### Build Decision Tree(DV-"Survived",IDV-"Age,Gender and Fare") and Prediction

In [2]:
titanic_train=pd.read_csv("Titanic_train.csv")

In [3]:
titanic_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
WikiId           2
Name_wiki        2
Age_wiki         4
Hometown         2
Boarded          2
Destination      2
Lifeboat       546
Body           804
Class            2
dtype: int64

In [4]:
titanic_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,WikiId,Name_wiki,Age_wiki,Hometown,Boarded,Destination,Lifeboat,Body,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,691.0,"Braund, Mr. Owen Harris",22.0,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",NaN,NaN,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,90.0,"Cumings, Mrs. Florence Briggs (née Thayer)",35.0,"New York, New York, US",Cherbourg,"New York, New York, US",4,NaN,1.0

In [5]:
newAge=np.where(titanic_train['Age'].isna(),titanic_train['Age'].mean(),titanic_train['Age'])
titanic_train['Age']=newAge

In [6]:
labelEncoder=preprocessing.LabelEncoder()

In [7]:
encode_sex=labelEncoder.fit_transform(titanic_train['Sex'])
titanic_train['Sex']=encode_sex

##### Training Model

In [8]:
tree_model=tree.DecisionTreeClassifier()

In [9]:
independentFeatures=pd.DataFrame([encode_sex, titanic_train["Age"], titanic_train["Fare"]]).T

In [10]:
tree_model.fit(X=independentFeatures, y=titanic_train['Survived'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [11]:
with open ("Dtree5.dot","w") as f2:
    f2=tree.export_graphviz(tree_model,feature_names=["Sex","Age","Fare"],out_file=f2)

##### Testing model

In [12]:
tree_model.score(X=independentFeatures,y=titanic_train["Survived"])

0.9797979797979798

##### Predicitng test data set

In [13]:
titanic_test=pd.read_csv("Titanic_test.csv")

In [14]:
titanic_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
WikiId           3
Name_wiki        3
Age_wiki         3
Hometown         3
Boarded          3
Destination      3
Lifeboat       261
Body           375
Class            3
dtype: int64

In [15]:
newAgeTest=np.where(titanic_test['Age'].isna(),titanic_test['Age'].mean(),titanic_test['Age'])
titanic_test['Age']=newAgeTest

In [16]:
newFareTest=np.where(titanic_test['Fare'].isna(),titanic_test['Fare'].mean(),titanic_test['Fare'])
titanic_test['Fare']=newFareTest

In [17]:
encode_sexTest=labelEncoder.fit_transform(titanic_test['Sex'])
test_features=pd.DataFrame([encode_sexTest,newAgeTest,newFareTest]).T

In [18]:
test_preds= tree_model.predict(X=test_features)

In [19]:
predicted_output=pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_preds})

In [20]:
predicted_output.to_csv("PredictedTitanicSurvivedPg1.csv",index=False)

# Project 2:

## Build Decision Tree for Attrition Rate Analysis
**DV - "Attrition"**

**IDV - Output of RF Algorithm**

In [21]:
attritionData=pd.read_csv("general_data.csv")

In [22]:
attritionData.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [23]:
attritionData.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4

In [103]:
attr_independent_var= ["Age","DistanceFromHome","Department","Education","Gender","MaritalStatus","MonthlyIncome","PercentSalaryHike","NumCompaniesWorked","TotalWorkingYears","PercentSalaryHike","YearsAtCompany","YearsSinceLastPromotion","YearsWithCurrManager"]

In [104]:
attritionData.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          9
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [105]:
newCountCompaniesWorked=np.where(attritionData['NumCompaniesWorked'].isna(),attritionData['NumCompaniesWorked'].mean(),attritionData['NumCompaniesWorked'])
attritionData['NumCompaniesWorked']=newCountCompaniesWorked

In [106]:
newTotalWorkingYear=np.where(attritionData['TotalWorkingYears'].isna(),attritionData['TotalWorkingYears'].mean(),attritionData['TotalWorkingYears'])
attritionData['TotalWorkingYears']=newTotalWorkingYear

In [107]:
attritionData['Department']=labelEncoder.fit_transform(attritionData["Department"])

In [108]:
attritionData['Gender']=labelEncoder.fit_transform(attritionData["Gender"])

In [109]:
attritionData['MaritalStatus']=labelEncoder.fit_transform(attritionData["MaritalStatus"])

#### Applying Random Forest

In [110]:
from sklearn.ensemble import RandomForestClassifier

In [111]:
rf_model=RandomForestClassifier(n_estimators=1000,max_depth=10,oob_score=True)

In [112]:
rf_model.fit(X=attritionData[attr_independent_var],y=attritionData["Attrition"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [113]:
print(rf_model.oob_score_)

0.9260770975056689

In [114]:
for feature,imp in zip(attr_independent_var,rf_model.feature_importances_):
    print(feature,imp)

Age 0.130494529377188
DistanceFromHome 0.08229711314661065
Department 0.03546556785422999
Education 0.04711043301988979
Gender 0.018656349584369576
MaritalStatus 0.057501034051103794
MonthlyIncome 0.13455287674959698
PercentSalaryHike 0.062461716398725095
NumCompaniesWorked 0.06953714804756655
TotalWorkingYears 0.11724467811038544
PercentSalaryHike 0.061150177986028745
YearsAtCompany 0.08094461833653309
YearsSinceLastPromotion 0.04393917588029898
YearsWithCurrManager 0.05864458145747294

##### from above we infer that AGE, MONTHLYINCOME, YearsAtCompant are imp variables for Decidion tree Algo

In [115]:
attr_independent_var_final=pd.DataFrame([attritionData['Age'],attritionData['MonthlyIncome'],attritionData['TotalWorkingYears']]).T

In [116]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [117]:
attr_independent_var_final.isna().sum()

Age                  0
MonthlyIncome        0
TotalWorkingYears    0
dtype: int64

In [118]:
tree_model.fit(X=attr_independent_var_final,y=attritionData['Attrition'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [119]:
with open ("Assignment24AttritionDtree.dot","w") as f2:
    f2=tree.export_graphviz(tree_model,feature_names=["Age","MonthlyIncome","TotalWorkingYears"],out_file=f2)

In [120]:
tree_model.score(X=attr_independent_var_final,y=attritionData['Attrition'])

0.8841269841269841

# Project 3:
## Build Decision Tree for Bank Loan Modelling
DV - "Personal Loan"
IDV - Output of RF Algorithm

In [124]:
bankLoanData=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name='Data')

In [125]:
bankLoanData.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [126]:
i_var=["Age","Experience","Income","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]

In [127]:
bankLoanData.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [128]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(n_estimators=1000,max_depth=10,oob_score=True)

In [129]:
rf_model.fit(X=bankLoanData[i_var],y=bankLoanData['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [130]:
rf_model.oob_score_

0.9884

In [131]:
for feature,imp in zip(i_var,rf_model.feature_importances_):
    print(feature,imp)

Age 0.03156281456139379
Experience 0.030388347825063403
Income 0.3415407013807619
Family 0.11444407634312531
CCAvg 0.1663244404697619
Education 0.2105759410087893
Mortgage 0.032163669548313525
Securities Account 0.0037487442720753553
CD Account 0.05563736556225997
Online 0.005985751891318684
CreditCard 0.00762814713713674

#### from the above we conclude that Income and Mortagage are imp variables

In [132]:
bankLoanData_independent_var=pd.DataFrame([bankLoanData['Income'],bankLoanData['Mortgage']]).T

In [134]:
tree_model=tree.DecisionTreeClassifier(max_depth=8,max_leaf_nodes=10)

In [135]:
tree_model.fit(X=bankLoanData_independent_var,y=bankLoanData['Personal Loan'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
            max_features=None, max_leaf_nodes=10,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [136]:
with open ("Assignment24BankLoanDtree.dot","w") as f2:
    f2=tree.export_graphviz(tree_model,feature_names=["Income","Mortgage"],out_file=f2)

In [137]:
tree_model.score(X=bankLoanData_independent_var,y=bankLoanData['Personal Loan'])

0.917